.page-content {
  width: 100%;
}

.page-content__header-wrapper {
  display: flex;
  flex-direction: column;
}

.page-content__header {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-s);
  align-items: center;
}

.page-content__back-button {
  font-size: 32px;
}

.page-content__title {
  color: var(--color-primary);
  font-size: var(--font-h1-size);
  font-weight: var(--font-weight-extrabold);
  line-height: var(--font-h1-line-height);
  letter-spacing: var(--font-h1-tracking);
}

.page-content__subtitle {
  font-size: var(--font-h3-size);
  font-weight: var(--font-weight-medium);
  line-height: var(--font-h3-line-height);
  letter-spacing: var(--font-h3-tracking);
  color: var(--color-secondary-muted);
  margin-bottom: var(--spacing-l);
}

.page-content__body {
  width: 100%;
}