.switch-button {
    margin: 0;
    position: relative;
    gap: var(--spacing-xs);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.switch-button__indicator {
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: var(--color-primary);
    transition: all 0.4s cubic-bezier(0.22, -0.92, 0.4, 2.2);
}

.switch-button__option {
    padding: 8px 20px;
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    transition: all 0.2s ease-in-out;
    user-select: none;
}

.switch-button__option:hover {
    color: var(--color-dark-hot-pink);
}

.switch-button__option--active {
    color: var(--color-primary) !important;
}